    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    header,
    footer,
    nav {
        background-color: #fff;
    }
    
    .parent {
        margin: 1rem 2vw;
    }
    
    .parent section {
        border: 1px solid#415541;
        background-color: #e9f5e9;
        border-radius: 10px;
        overflow: hidden;
        margin: 1rem 0;
    }
    
    .parent span {
        background-color: #415541;
        color: #fff;
        display: block;
        text-align: center;
        padding: .75rem 0;
    }
    
    .parent p {
        padding: 10px;
    }
    
    nav {
        background-color: rgb(110, 114, 110);
        margin: 0 auto;
        max-width: 840px;
    }
    
    nav a {
        display: block;
        color: #bbb;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    nav a:hover {
        border: 1px solid#fff;
    }
    
    .active {
        color: yellow;
    }
    
    .novelty {
        color: blue;
    }
    
    .ice {
        color: red;
    }
    
    .cream {
        color: purple;
    }