        @media only screen and (min-width: 640px) {
            .parent {
                display: grid;
                grid-template-columns: 2fr 1fr;
                column-gap: 10px;
            }
            .parent section {
                box-shadow: 1px 1px 10px black;
            }
        }
        
        @media(min-width:640px) {
            nav ul {
                display: flex;
                justify-content: space-evenly;
            }
        }